/*SITEWIDE STYLES */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
header {
  background-color: #198b8f;
  color: #faf9ff; }

body {
  padding-top: 50px; }

#masthead {
  min-height: 250px; }

#masthead h1 {
  font-size: 30px;
  line-height: 1;
  padding-top: 20px; }

#masthead .well {
  margin-top: 8%; }

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px; } }

.navbar-bright {
  background-color: #111155;
  color: #fff; }

.affix-top, .affix {
  position: static; }

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 30px;
    width: 228px; }
  #sidebar.affix {
    position: fixed;
    top: 70px;
    width: 228px; } }

#sidebar li.active {
  border: 0 #eee solid;
  border-right-width: 5px; }

/*

.mainNav {
  font-family: 'Fredericka the Great', cursive, 'Courgette', cursive, 'Tangerine', cursive;
}

 aside {
  // background-color: $thirdColor;
   width: 20%;
   padding-left: 0px;
   margin-left: 0px;
 }

a:hover {
  color: $offWhite;
}

a:focus {
  color: $offWhite;
}

  //end nav

  content {
    max-width: 80%;
    background-color: $primaryColor;
  }


//footer
 footer {
   background-color: $secondaryColor;
   margin: auto;
 } //end footer */
/*End SITEWIDE STYLES*/
/*Gallery Styles*/
#carousel-container {
  align-content: center;
  padding: 10px; }

/*End Gallery Styles*/
.contact {
  color: #2fadf5;
  margin-top: 75px;
  text-align: center;
  margin-bottom: 50px; }

#feedback {
  margin-bottom: 25px;
  /* Form itself */
  /* Resize testarea */
  /* Google captcha */
  /* Fix sizing on captcha */
  /* Submit button */
  /* All feedback in a card */ }
  #feedback #feedback-head {
    text-align: center;
    color: #2fadf5;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px; }
  #feedback #mail-form {
    width: 85%;
    max-width: 500px; }
  #feedback textarea {
    resize: none;
    overflow: scroll; }
  #feedback #captcha {
    margin-bottom: 30px; }
  #feedback .g-recaptcha div {
    margin-left: auto;
    margin-right: auto; }
  @media only screen and (max-width: 420px) {
    #feedback .g-recaptcha {
      transform: scale(0.81);
      transform-origin: 0; } }
  #feedback .btn-primary:hover {
    color: #faf9ff;
    background-color: #2fadf5;
    border-color: #2fadf5; }
  #feedback .btn-primary:active {
    color: #faf9ff;
    background-color: #2fadf5;
    border-color: #2fadf5; }
  #feedback .btn-primary:focus {
    background-color: #2fadf5;
    border-color: #2fadf5; }
  #feedback .btn-primary:active:focus {
    color: #faf9ff;
    background-color: #2fadf5;
    border-color: #2fadf5; }
  #feedback .btn-primary:disabled {
    color: white;
    background-color: #2fadf5; }
  #feedback .btn-primary:disabled:hover {
    color: white;
    background-color: #2fadf5; }
  #feedback .btn-primary {
    color: #2fadf5;
    background-color: white;
    border-color: #2fadf5; }
  #feedback .card {
    margin: auto;
    margin-top: 30px;
    min-width: 50%;
    max-width: 75%; }
  #feedback .card-body {
    padding-top: 30px;
    padding-bottom: 30px; }
  #feedback .form-group {
    margin-bottom: 10px; }

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5; }

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375); }

#sidebarCollapse span:first-of-type {
  /* rotate first one */
  transform: rotate(45deg) translate(2px, 2px); }

#sidebarCollapse span:nth-of-type(2) {
  /* second one is not visible */
  opacity: 0; }

#sidebarCollapse span:last-of-type {
  /* rotate third one */
  transform: rotate(-45deg) translate(1px, -1px); }

#sidebarCollapse.active span {
  /* no rotation */
  transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto; }

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px; }

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: center left;
  /* Set the transformed position of sidebar to center left side. */ }

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
  /* Rotate sidebar vertically by 100 degrees. */ }

@media (max-width: 768px) {
  /* Reversing the behavior of the sidebar:
       it'll be rotated vertically and off canvas by default,
       collapsing in on toggle button click with removal of
       the vertical rotation.   */
  #sidebar {
    margin-left: -250px;
    transform: rotateY(100deg); }
  #sidebar.active {
    margin-left: 0;
    transform: none; }
  /* Reversing the behavior of the bars:
       Removing the rotation from the first,
       last bars and reappear the second bar on default state,
       and giving them a vertical margin */
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto; }
  /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
  #sidebarCollapse.active span {
    margin: 0 auto; }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px); }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0; }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px); } }

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa; }

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #7386D5;
  color: #fff;
  transition: all 0.3s; }

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc; }

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b; }

#sidebar ul p {
  color: #fff;
  padding: 10px; }

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff; }

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc; }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc; }
